*{
    padding: 0;
    border: 0;
    transition: .2s linear;
    box-sizing: border-box;
}
html{
    font-size: 100%;
    scroll-behavior: smooth;
    width:100%;
    scroll-padding-top: 9rem;
}
html::-webkit-scrollbar{
    width:.8rem
}
html::-webkit-scrollbar-track{
    background:black;
}
html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}

body{
    margin:0;
    width:100%;
    padding:0;
    overflow-x: hidden;
}
/* Top-nav */
.header{
    position: relative;
    background-color: black;
    position: sticky;
    color:white;
    padding:1.5em 1rem;
    align-items: center;
    z-index: 2;
    position: fixed;
    width:100%;
    top: 0;
    height:7rem;
}
.header img{
    width:10rem;
    height:5rem;
}
.header .user{
    cursor: pointer;
    color:white;
}
.header .user i{
    font-size: 3rem;
}
.header .nav { 
    align-items: center;
    justify-content: space-between;
    display: flex;
}
.header .nav ul{
    display: flex;
    justify-content: flex-start;
    list-style-type:none;
    margin-left: 10rem;
}
.header .nav a{
    text-decoration: none;
    color:white;
}
.header .nav ul li{
    margin: 0 3.5rem;
    cursor: pointer;
    font-size: 1.5rem;
}
.nav ul li:hover{
    border-bottom: 1px solid #d3ad7f;
    padding-bottom: 1px;
    transition: linear 0.2s;
}
.nav ul #home{
    border-bottom: 1px solid #d3ad7f;
    padding-bottom: 5px;
}

/* Search Box */
.header .search-box{
    width:50rem;
    display: flex;
    align-items: center;
    height:3rem;
    background: white;
    border: 1px solid black ;
}
.search-box input{
    width:100%;
    padding:0.5rem;
    text-transform: none;
    height:95%;
    border:none;
    outline: none;
}
.search-box label{
    cursor: pointer;
    margin-right: 1.5rem;
    color:black;
}
/* Side bar */
.side-bar{
    position: fixed;
    background-color: black;
    height: 100%;
    top:0;
    color:white;
    padding:0 1rem;
    margin-top: 5rem;
    z-index:1 ;
}
.nav-side{
    display: block;
    margin:6rem 0;
    width:5rem
}
.nav-side ul{
    list-style-type: none;
    display: block;
    text-align: center;
}
.nav-side ul li{
    cursor: pointer;
    margin-bottom:3rem;
    font-weight: bold;
    font-size: 1.3rem;
}
.nav-side ul li:hover{
    border-bottom: 1px solid #d3ad7f;
}
.side-bar.show{
    display: block;
}
/* Home Movie */
.home-wrap{
    margin:7rem 0rem 0 7rem ;
}

.movie-page{
    max-width:1320px;
    position: relative;
    border: 5px solid wheat;
}
.movie-page::before{
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    z-index: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient( 360deg,rgba(0, 0, 0, 0.671),transparent,transparent);
}
.movie-page::after{
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    z-index: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient( 360deg,black, rgba(10, 10, 10, 0.678),transparent,transparent);
}
.movie-page .image{
    border: 5px solid black;
    background-size: contain;
    width:45.5rem;
    height:30rem;
}
.movie-page .image img{
    display: block;
    width:100%;
    height:100%
}
.movie-page .image .movie-name{
    color: black;
    position: absolute;
    left:0;
    font-weight: bold;
    font-size: 3rem;top:0;
}
.movie-page .image .home-info{
    position: absolute;
    right:0;
    top:0;
    width: 35%;
    z-index: 1;
    height: 100%;
    background-color:white;
}
.movie-page .icon-list{
    color:white;
    margin-top: -5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    z-index: 1;
    width:65%;
    cursor: pointer;
}
.movie-page .icon-list p span{
    display: block;
    margin-top:0.3rem;
    margin-left: 0rem;
    justify-content: center;
    align-items: center;
    opacity: 1;
    text-align: center;
}
.movie-page .icon-list .play{
    color:black;
    background-color: white;
    padding:0.5rem 1rem;
    margin: 10px 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:0.5rem;
    font-weight: bold;
}
.movie-wrap{
    position:relative;
    margin:0rem 0rem 0 7.5rem ;
}
.film-wrap{
    position: absolute;
    z-index: 0;
    background-color: black;
    color:white;
    overflow:hidden ;
    z-index: 0;
}
 

/* Movie Rows */
h3{
    font-size:2rem;
}

.popular-movies,.kid-movies,.trending-movies,.r-movies{
    position: relative;
    display: inline-block;
    margin-left: 0.5rem;
    overflow-x:hidden;
    margin:1rem;
    gap:1.5rem;
    display:flex;
}
.movie-list{
    transform: translateX(0);
    transition: all 1s ease-in-out;
    
}
/* Movies Wrap Styling */
.movies-wrap{
    position: relative;
    overflow: hidden;
    max-width: 18.5rem;
    border-radius: 0.5rem;
    background-color: white;
    display:flex;
    display:inline-block
}
.movie {
    cursor: pointer;
    width:18rem;
    height: 26.7rem;
    border: 1px solid black;
}
.movie img{
    width: 100%;
}
/* The Pop-Up */
.movies-wrap .pop{
    width:18rem;
    height: 25rem;
    left:0;
    padding: 0.05rem 0.2rem 0 0.2rem;
    bottom:-60%;
    position: absolute;
    background-color: rgb(32, 29, 32);
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    opacity: 0;
    transition: all 0.14s ease-out;
   }
   .pop.close{
    bottom:-60%;
    opacity: 0;
    transition: all 0.14s ease-out
   }
   .movies-wrap .pop   p{
    font-weight: bold;
    font-size: 1rem;
}
   .movies-wrap .pop  #close {
    background-color: rgba(20, 19, 19, 0.753);
    float: right;
    cursor: pointer;
    border-radius: 50%;
  }
  .movies-wrap .pop #close i:hover{
    color:black;
    background-color: white;
 }

   .movies-wrap .pop .name{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 4%;
    word-wrap: break-word;
    margin-top: 2rem;
    overflow: scroll;
    overflow-x: hidden;

    height:18.7rem;
   }
   .movies-wrap .pop .name .img{
    width: 40rem;
    height: 13rem;
    margin-top: 0;

   }
   .movies-wrap .pop .name .information{
    width: 60rem;
    padding-bottom: 0.1rem;
   }
   .movies-wrap .pop  .name .title{
      font-size: 1.3rem;
      font-weight: bold;
   }
   
   .movies-wrap .pop  .name .year{
    word-spacing: 1rem;
    font-weight: bold;
   
   }
   .movies-wrap .pop .name img{
    width:100%;
    border-radius: 5px;
    height: 100%;
   }
   .movies-wrap .pop .icons{
    display: flex;
    margin-top:-1rem;
    justify-content:space-around ;
    cursor: pointer;
   }
   .movies-wrap .pop .icons i{
    border-radius: 50%;
    background-color: rgba(20, 19, 19, 0.753);
    padding: 0.5rem;
    color: white;
   }
   .movies-wrap .pop .icons i:hover{
    background-color: beige;
    color: black;
   }
   .movies-wrap .pop .icons #download{
    margin-left: 0.8rem;
   }
   .movies-wrap .pop .icons p span{
    display: block;
    margin-top:0.3rem;
    margin-left: 0rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}
   .movies-wrap:hover .pop{
     opacity: 1;
     bottom:0%;
} 
   /* Footer */
.rule-1{
    width:100%;
    margin-top: 2rem;
    height:0.1rem;
    background-color: white;
 }
.footer{
    margin-left:7.5rem ;
    max-width: 1000px;
    position: static;
    position: relative;
    background-color: black;
    margin-top: 200%;
    color:white;
    text-align: center;
    padding: 0.5rem;
    background-color: 2px solid red;
}
.footer .wrap{
    display: flex;
    align-items: flex-start;
}
.footer .info{
   display: block;
   word-break:break-all;
   overflow: hidden;
   padding-top:3rem 1rem;
   margin-left: 2rem;
   width:30rem;
}
.footer .info img{
    width:30%
}
.footer .info a i{
    color:white;
    font-size: 2rem;
    margin :0.5rem;
    cursor: pointer;
    background-color: rgb(32, 30, 30);
    padding: 1rem;
    border-radius: 50%;
}
.footer .info i:hover{
    background-color: white;
    color: black;
}
.footer .services{
    display: block;
    word-break:break-all;
    overflow: hidden;
    padding:0.5rem;
    margin-left: 2rem;
 }
 .footer .company{
    display: block;
    word-break:break-all;
    overflow: hidden;
    padding:0.5rem;
    margin-left: 2rem;
 }
 .footer .company-info{
    display: flex;
    word-break:break-all;
    overflow: hidden;
    padding:0.5rem;
    margin-left: 2rem;
    margin-top: 1rem;
    padding: 1rem;
    justify-content: space-between;
 }
 .footer .company-info img{
    width:10rem;
    height:5rem;
 }
 .footer .company-info p,.footer .company-info span{
    font-size: 2.5rem;
 }
 .company-info span {
    color: #d3ad7f;
 }
 .footer .rule-2{
    width:100%;
    height:0.1rem;
    background-color: white;
    position: absolute;
    bottom: 32%;
 }
 .btn-1,.btn-2,.btn-3,.btn-4{
    position: absolute;
    right: 0;
    color:red;
    opacity: 0.5;
    width:10rem;
    height:5rem;
    font-size: 20rem;
    z-index: 0;
    text-align: center;
    cursor: pointer;
  
}
.btn-1{
    margin-top:30%;
}
.btn-2{
    margin-top:65%;
   
}
.btn-3{
    margin-top:102%;
   
}
.btn-4{
    margin-top:138%;
}


/* Media Queries */
@media only screen and (min-width:780px){
    .header .nav #menu{
        display:none;
    }
}
@media only screen and (max-width:770px) {

    html{
        transition: all linear .6s;
        overflow-x:hidden;
    }
    html,body{
        width:100%;
        height:100%;
        margin:0px;
        padding:0px;
    }
    body{
        margin: 0;
        padding:0;
        overflow-x:hidden;
        background-color: black;
    }
    .header{
        width:100%;
        position: sticky;
        z-index: 2;
    }
    .header .nav ul{
        display:none;
    }
    .header .search-box{
        width:40%;
    }
    .side-bar{
        display:none;
       margin-top:6rem;
       padding: 1rem 1rem;
       z-index: 3;
       font-size: 1.4rem;
    }
    .side-bar .nav-side{
     width:6.2rem;
    }
    .side-bar ul li:first-child{
        border-bottom: 1px solid wheat;
    }
    .header .nav #menu{
        font-size:2.5rem;
        cursor:pointer;
    }
    .home-wrap{
        margin:0rem 0rem 0 0;
    }
    .home-wrap .movie-page{
        width:100%
    }
    .movie-page{
        width:100%;
        position: relative;
        border: 5px solid wheat;
    }
    .movie-page .image .home-info{
        display:none;
    }
    .movie-page .icon-list{
        width:100%
    }
    .movie-page .image{
        width:100%;
        height:25rem;
    }
    .movie-wrap{
        position:relative;
        margin:0rem 0rem 0 0rem ;
    }
    .movie {
        cursor: pointer;
        width:15rem;
        border: 1px solid black;
    }
    .movies-wrap .movie img{
        width:100%;
        height:100%
    }
    .movies-wrap .pop{
        width:15rem;
    }
    .footer{
        margin-left:0;
        border:2px solid whitesmoke
    }
    .footer .company-info img{
        display: none;
    }
    .footer .rule-2{
        bottom:29%
    }
}
@media only screen and (min-width:360px) and (max-width:400px){
    .header .user i{
        font-size: 1.8rem;
    }
    .header img{
        width:3.5rem;
    }
    .btn-1{
            margin-top:60%;
        }
.btn-2{
            margin-top:200%;
          
        }
.btn-3{
            margin-top:340%;
        }
.btn-4{
            margin-top:480%;   
        
    }
.footer{
        margin-top:600%;
    }
.footer .rule-2{
        margin-bottom:-6%;
    }
.footer .company-info p,.footer .company-info span{
        font-size: 1.5rem;
    }
}
@media only screen and (min-width:370px) and (max-width:380px){
    .footer{
        margin-top:580%;
    }
}
@media only screen and (min-width:380px) and (max-width:400px){
    .footer{
        margin-top:560%;
    }
}
@media only screen and (min-width:401px) and (max-width:421px){
    .header img{
        width:4rem;
    }
    .footer{
        margin-top:540%;
    }
    .btn-1{
        margin-top: 60%;
    }
    .btn-2{
        margin-top: 160%;
    }
    .btn-3{
        margin-top:290%;
    }
    .btn-4{
        margin-top:420%;   
  
    }
}
@media only screen and (min-width:422px) and (max-width:500px){
    .header img{
        width:4.3rem;
    }
    .footer{
        margin-top:500%;
    }
    .btn-1{
        margin-top:60%;
    }
    .btn-2{
        margin-top:160%;
    }
    .btn-3{
        margin-top:275%;
    }
    .btn-4{
        margin-top:395%;   
    }
}
@media only screen and (min-width:500px) and (max-width:600px){
    .footer{
        margin-top:420%;
    }
    .btn-1{
        margin-top:30%;
    }
    .btn-2{
        margin-top:130%;
    }
    .btn-3{
        margin-top:230%;
    }
    .btn-4{
        margin-top:335%;   
    }
}
@media only screen and (min-width:600px) and (max-width:700px){
    .footer{
       margin-top:345%;
    }
    .btn-1{
       margin-top:20%;
    }
    .btn-2{
       margin-top:110%;
    }
    .btn-3{
       margin-top:195%;
    }
    .btn-4{
       margin-top:280%;   
    }
}
    @media only screen and (min-width:700px) and (max-width:770px){
    .footer{
    margin-top:305%;
        }
        .btn-1{
    margin-top:20%;
        }
        .btn-2{
    margin-top:95%;
        }
        .btn-3{
    margin-top:170%;
        }
        .btn-4{
    margin-top:245%;   
        }
    }
